<div class="banner">
  <%= image_tag "landing.png", alt: "woman trying to choose her next movie", class: "banner-img" %>
  <div class="banner-content">
    <h1>Movie Lists</h1>
    <p>Save movies for your next movie night.</p>
    <%= link_to "Create a new list", new_list_path, class: "btn btn-danger" %>
  </div>
</div>


<hr>

<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: 'text-white text-decoration-none' do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://happiclap.com/wp-content/uploads/2019/06/Everyday-Clapboard-1.jpg' %>)">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
